<html>
	<link rel='stylesheet' href='/static/css/styles.css'>

	<head>
		<title>Rutificador 2</title>
	</head>

	<body>
			<h1 class = 'titulo'>buscador de denis</h1>
                <hr>

				<form action='/resultado' method='post'> 
					
					<input class ='hola'type='text' placeholder='Ingrese nombres' name='nombres'>
					<input class= 'hola'type='text' placeholder='Ingrese apellidos' name='apellidos'>

					<input type=submit value='buscar'>
				</form>
	</body>


</html>
<script src=static/js/main.js> </script>

